<div class="home-container">
    <h1>Bienvenido a SEGELI</h1>
    <P class="descripcion">Panel de control general del sistema</P>
    <div class=" cards">
        <div class=" card">
            <h2>📦 Productos</h2>
            <p id="totalProductos">Cargando...</p>
        </div>
        <div class=" card">
            <h2>💰 Ventas del día</h2>
            <p id="ventasDia">Cargando</p>
        </div>
        <div class="card">
            <h2>⚠️ Stock bajo</h2>
            <p id="stockBajo">Cargando...</p>
        </div>
    </div>
</div>