<div class="inventario-container">
    <div class="header">
        <div class="title-inventario">
            <h1>Inventario</h1>
            <p>Listado general de productos disponibles</p>
        </div>
        <div class="btnAgregarProducto">
            <button class="btn-nuevo-producto">Nuevo producto</button>
        </div>
        <div class="buscador">
            <input class="buscador-inventario" id="buscadorInventario" 
            type="text" placeholder="Buscar Producto ...">
        </div>
    </div>
    
    <table class="tabla-inventario">

        <thead>
            <tr>
                <th>ID</th>
                <th>Productos</th>
                <th>Categoria</th>
                <th>Stock</th>
                <th>Estado</th>
                <th>Opcion</th>
            </tr>
        </thead>
        <tbody id="tablaInventario">
            <tr>
                <td colspan="6">Cargando inventario...</td>
            </tr>
        </tbody>
    </table>
</div>
